.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
}

.navbar.active {
  background-color: white;
  color: black;
}

.navbar.active button {
  background-color: white !important;
  color: #1dbf73 !important;
  border: 1px solid #1dbf73 !important;
}

.navbar .container {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.navbar .logo {
  font-size: 34px;
  font-weight: bold;
}

.navbar .logo .dot {
  font-weight: bold;
  color: #1dbf73;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .links span {
  white-space: nowrap;
}

.navbar .links button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.navbar .links button:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

.navbar .links .user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .links .user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .links .user .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #f39c12;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  border: 1px solid white;
}

.navbar .links .user .options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  font-weight: 300;
  color: gray;
}

.navbar .links .user .options a.link {
  color: gray;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 6px;
}

.navbar .links .user .options a.link:hover {
  background-color: #f0f0f0;
  color: #1dbf73;
}

.navbar hr {
  width: calc(100% - 2px);
  height: 0;
  border-top: 0.5px solid #ebe9e9;
  border-bottom: 0.5px solid #ebe9e9;
}

.navbar .menu {
  width: 1400px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
